In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

/home/anupam/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/anupam/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [5]:
dfTrain = pd.read_csv("train.csv",header=0)
dfTest = pd.read_csv("test.csv",header=0)
yTest = pd.read_csv("sample_submission.csv",header=0)

In [6]:
dfTrain.head(2)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500

In [7]:
dfTrain = dfTrain.set_index("Id")
dfTest = dfTest.set_index("Id")
yTest = yTest.set_index("Id")
dfTrain.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [8]:
for col in dfTrain.columns[dfTrain.isna().any()].tolist():
    if(dfTrain[col].dtype == "object"):
        dfTrain[col].fillna("unknown", inplace=True)
    if((dfTrain[col].dtype == "float64") or (dfTrain[col].dtype == "int64")):
        dfTrain[col].fillna(dfTrain[col].mean(), inplace=True)
for col in dfTest.columns[dfTest.isna().any()].tolist():
    if(dfTest[col].dtype == "object"):
        dfTest[col].fillna("unknown", inplace=True)
    if((dfTest[col].dtype == "float64") or (dfTest[col].dtype == "int64")):
        dfTest[col].fillna(dfTest[col].mean(), inplace=True)

In [9]:
dfTrain.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,unknown,Reg,Lvl,AllPub,Inside,...,0,unknown,unknown,unknown,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,unknown,Reg,Lvl,AllPub,FR2,...,0,unknown,unknown,unknown,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,unknown,IR1,Lvl,AllPub,Inside,...,0,unknown,unknown,unknown,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,unknown,IR1,Lvl,AllPub,Corner,...,0,unknown,unknown,unknown,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,unknown,IR1,Lvl,AllPub,FR2,...,0,unknown,unknown,unknown,0,12,2008,WD,Normal,250000

In [10]:
XTrain = dfTrain.drop(['SalePrice'],1)
XTrain = XTrain.select_dtypes(exclude=['object'])
yTrain = np.array(dfTrain['SalePrice'])
XTest = dfTest.select_dtypes(exclude=['object'])
yTest = np.array(yTest['SalePrice'])

In [11]:
XTrain.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
Id,,,,,,,,,,,,,,,,,,,,,
1,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,548,0,61,0,0,0,0,0,2,2008
2,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,460,298,0,0,0,0,0,0,5,2007
3,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,608,0,42,0,0,0,0,0,9,2008
4,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,642,0,35,272,0,0,0,0,2,2006
5,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,836,192,84,0,0,0,0,0,12,2008

In [12]:
from sklearn.preprocessing import scale
XTrainScaled = scale(XTrain)
XTestScaled = scale(XTest)
# XTrainScaled = np.array(XTrain)
# XTestScaled = np.array(XTest)

In [13]:
from sklearn import svm
from sklearn.linear_model import LinearRegression
clf = svm.SVR(C=10000,epsilon=5,gamma=0.0005)
clf.fit(XTrainScaled,yTrain)

SVR(C=10000, cache_size=200, coef0=0.0, degree=3, epsilon=5, gamma=0.0005,
  kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [14]:
from sklearn.metrics import accuracy_score
yPrdeict = clf.predict(XTestScaled)
r2 = clf.score(XTest,yPrdeict)
r2_train = clf.score(XTrain,yTrain)

# for i in range(50):
#     print("ytest:{}  ypredict:{}".format(yTest[i],yPrdeict[i]))
r2_train

-0.006802666609502905

In [16]:
from sklearn import decomposition
pca = decomposition.PCA(n_components=18)
pca.fit(XTrain)
XTrainTransformed = pca.transform(XTrain)

In [18]:
XTrainTransformedScaled = scale(XTrainTransformed)

TypeError: fit() missing 1 required positional argument: 'y'