In [1]:
import pandas as pd
import numpy as np
import quandl
import stockstats as st

In [2]:
df = st.StockDataFrame.retype(pd.read_csv('/home/anupam/stockPrediction/data/^BSESN (2).csv'))

In [3]:
df.head(50)

,open,high,low,close,adj close,volume
date,,,,,,
2016-06-29,26627.150391,26776.169922,26606.310547,26740.390625,26740.390625,7700
2016-06-30,26926.169922,27069.230469,26872.589844,26999.720703,26999.720703,8600
2016-07-01,27064.330078,27243.359375,27061.400391,27144.910156,27144.910156,10000
2016-07-04,27314.439453,27385.660156,27251.060547,27278.759766,27278.759766,8300
2016-07-05,27340.720703,27348.660156,27127.300781,27166.869141,27166.869141,10400
2016-07-07,27209.970703,27288.220703,27146.949219,27201.490234,27201.490234,8800
2016-07-08,27292.199219,27294.820313,27034.140625,27126.900391,27126.900391,13900
2016-07-11,27358.230469,27647.480469,27358.230469,27626.689453,27626.689453,23900
2016-07-12,27667.810547,27828.740234,27667.810547,27808.140625,27808.140625,12200
2016-07-13,27912.140625,27928.759766,27752.140625,27815.179688,27815.179688,17600
2016-07-14,27857.800781,27967.769531,27763.150391,27942.109375,27942.109375,10500
2016-07-15,27966.140625,28048.699219,27735.869141,27836.500000,27836.500000,16300
2016-07-18,27920.660156,28013.500000,27697.689453,27746.660156,27746.660156,20500
2016-07-19,27790.050781,27826.689453,27637.980469,27787.619141,27787.619141,16800
2016-07-20,27775.699219,27935.179688,27759.710938,27915.890625,27915.890625,12500
2016-07-21,27980.070313,27988.759766,27687.539063,27710.519531,27710.519531,12200
2016-07-22,27721.720703,27832.449219,27646.210938,27803.240234,27803.240234,9500
2016-07-25,27753.960938,28110.369141,27736.509766,28095.339844,28095.339844,15300
2016-07-26,28121.369141,28149.529297,27927.130859,27976.519531,27976.519531,11100
2016-07-27,27976.140625,28210.880859,27899.929688,28024.330078,28024.330078,10400
2016-07-28,28108.779297,28240.199219,28064.900391,28208.619141,28208.619141,14600
2016-07-29,28232.869141,28233.470703,28037.869141,28051.859375,28051.859375,11500
2016-08-01,28083.080078,28284.849609,27873.529297,28003.119141,28003.119141,13700
2016-08-02,28069.119141,28175.220703,27943.910156,27981.710938,27981.710938,10100
2016-08-03,28008.519531,28015.429688,27647.140625,27697.509766,27697.509766,11800
2016-08-04,27899.880859,27921.910156,27627.970703,27714.369141,27714.369141,14600
2016-08-05,27810.550781,28110.369141,27795.740234,28078.349609,28078.349609,13700
2016-08-08,28181.919922,28226.380859,28128.060547,28182.570313,28182.570313,20300
2016-08-09,28289.220703,28289.960938,27956.769531,28085.160156,28085.160156,14200
2016-08-10,28133.359375,28143.279297,27736.619141,27774.880859,27774.880859,15400
2016-08-11,27805.939453,27902.390625,27697.330078,27859.599609,27859.599609,9900
2016-08-12,27919.949219,28203.269531,27900.910156,28152.400391,28152.400391,21000
2016-08-16,28190.039063,28199.099609,27942.650391,28064.609375,28064.609375,14600
2016-08-17,28061.789063,28174.300781,27960.140625,28005.369141,28005.369141,11600
2016-08-18,28077.640625,28214.169922,28077.000000,28123.439453,28123.439453,12500
2016-08-19,28167.660156,28212.300781,28026.119141,28077.000000,28077.000000,15600
2016-08-22,28088.070313,28143.279297,27918.050781,27985.539063,27985.539063,12600
2016-08-23,28012.560547,28028.980469,27854.429688,27990.210938,27990.210938,12400
2016-08-24,28065.250000,28108.390625,27959.869141,28059.939453,28059.939453,8100
2016-08-25,28103.599609,28154.210938,27803.240234,27835.910156,27835.910156,6700
2016-08-26,27882.750000,27935.880859,27696.990234,27782.250000,27782.250000,9100
2016-08-29,27827.259766,27952.849609,27698.710938,27902.660156,27902.660156,11800
2016-08-30,28012.460938,28478.019531,28010.660156,28343.009766,28343.009766,10600
2016-08-31,28372.250000,28532.250000,28363.099609,28452.169922,28452.169922,10400
2016-09-01,28459.089844,28548.849609,28386.609375,28423.480469,28423.480469,16800
2016-09-02,28498.720703,28581.580078,28427.630859,28532.109375,28532.109375,12000
2016-09-06,28631.269531,29013.400391,28631.269531,28978.019531,28978.019531,18200
2016-09-07,29035.669922,29067.839844,28911.310547,28926.359375,28926.359375,19800
2016-09-08,28929.460938,29077.279297,28854.560547,29045.279297,29045.279297,15000
2016-09-09,29062.900391,29062.900391,28755.080078,28797.250000,28797.250000,11700

In [4]:
(df['close']-df['adj close']).values.sum()

0.0

In [5]:
df.head(10)

,open,high,low,close,adj close,volume
date,,,,,,
2016-06-29,26627.150391,26776.169922,26606.310547,26740.390625,26740.390625,7700
2016-06-30,26926.169922,27069.230469,26872.589844,26999.720703,26999.720703,8600
2016-07-01,27064.330078,27243.359375,27061.400391,27144.910156,27144.910156,10000
2016-07-04,27314.439453,27385.660156,27251.060547,27278.759766,27278.759766,8300
2016-07-05,27340.720703,27348.660156,27127.300781,27166.869141,27166.869141,10400
2016-07-07,27209.970703,27288.220703,27146.949219,27201.490234,27201.490234,8800
2016-07-08,27292.199219,27294.820313,27034.140625,27126.900391,27126.900391,13900
2016-07-11,27358.230469,27647.480469,27358.230469,27626.689453,27626.689453,23900
2016-07-12,27667.810547,27828.740234,27667.810547,27808.140625,27808.140625,12200
2016-07-13,27912.140625,27928.759766,27752.140625,27815.179688,27815.179688,17600

In [6]:
SMA5 = df['adj close'].rolling(window=5).mean()
SMA10 = df['adj close'].rolling(window=10).mean()
SMA20 = df['adj close'].rolling(window=50).mean()

In [7]:
result = pd.concat([df,SMA5,SMA10,SMA20],axis=1,sort=False)

In [8]:
result.columns.values[6] = 'SMA5'
result.columns.values[7] = 'SMA10'
result.columns.values[8] = 'SMA50'

In [9]:
result.head(20)

,open,high,low,close,adj close,volume,SMA5,SMA10,SMA50
date,,,,,,,,,
2016-06-29,26627.150391,26776.169922,26606.310547,26740.390625,26740.390625,7700,NaN,NaN,NaN
2016-06-30,26926.169922,27069.230469,26872.589844,26999.720703,26999.720703,8600,NaN,NaN,NaN
2016-07-01,27064.330078,27243.359375,27061.400391,27144.910156,27144.910156,10000,NaN,NaN,NaN
2016-07-04,27314.439453,27385.660156,27251.060547,27278.759766,27278.759766,8300,NaN,NaN,NaN
2016-07-05,27340.720703,27348.660156,27127.300781,27166.869141,27166.869141,10400,27066.130078,NaN,NaN
2016-07-07,27209.970703,27288.220703,27146.949219,27201.490234,27201.490234,8800,27158.350000,NaN,NaN
2016-07-08,27292.199219,27294.820313,27034.140625,27126.900391,27126.900391,13900,27183.785938,NaN,NaN
2016-07-11,27358.230469,27647.480469,27358.230469,27626.689453,27626.689453,23900,27280.141797,NaN,NaN
2016-07-12,27667.810547,27828.740234,27667.810547,27808.140625,27808.140625,12200,27386.017969,NaN,NaN
2016-07-13,27912.140625,27928.759766,27752.140625,27815.179688,27815.179688,17600,27515.680078,27290.905078,NaN
2016-07-14,27857.800781,27967.769531,27763.150391,27942.109375,27942.109375,10500,27663.803906,27411.076953,NaN
2016-07-15,27966.140625,28048.699219,27735.869141,27836.500000,27836.500000,16300,27805.723828,27494.754883,NaN
2016-07-18,27920.660156,28013.500000,27697.689453,27746.660156,27746.660156,20500,27829.717969,27554.929883,NaN
2016-07-19,27790.050781,27826.689453,27637.980469,27787.619141,27787.619141,16800,27825.613672,27605.815820,NaN
2016-07-20,27775.699219,27935.179688,27759.710938,27915.890625,27915.890625,12500,27845.755859,27680.717969,NaN
2016-07-21,27980.070313,27988.759766,27687.539063,27710.519531,27710.519531,12200,27799.437891,27731.620899,NaN
2016-07-22,27721.720703,27832.449219,27646.210938,27803.240234,27803.240234,9500,27792.785937,27799.254883,NaN
2016-07-25,27753.960938,28110.369141,27736.509766,28095.339844,28095.339844,15300,27862.521875,27846.119922,NaN
2016-07-26,28121.369141,28149.529297,27927.130859,27976.519531,27976.519531,11100,27900.301953,27862.957813,NaN
2016-07-27,27976.140625,28210.880859,27899.929688,28024.330078,28024.330078,10400,27921.989844,27883.872852,NaN

In [10]:
result.shape[0]

496

In [11]:
def EMAN(data,n):
    smaColumn = "SMA" + str(n)
    esmaColumn = "ESMA" + str(n)
    data[esmaColumn] = np.nan
    n=n-1
    data[esmaColumn][n] = data['Adj Close'][:n+1].values.mean()
    multiplier = 2/(n + 1 + 1)
    n = n + 1
    while n<(data.shape[0]):
        data[esmaColumn][n] = ((data['Adj Close'][n] - data[esmaColumn][n-1]) * multiplier) + data[esmaColumn][n-1]
        n = n + 1
    return data

In [12]:
result = EMAN(result,12)
result = EMAN(result,26)

Adj Close not found.
Traceback (most recent call last):
  File "/home/anupam/anaconda3/lib/python3.6/site-packages/pandas/core/indexes/base.py", line 3063, in get_loc
    return self._engine.get_loc(key)
  File "pandas/_libs/index.pyx", line 140, in pandas._libs.index.IndexEngine.get_loc
  File "pandas/_libs/index.pyx", line 162, in pandas._libs.index.IndexEngine.get_loc
  File "pandas/_libs/hashtable_class_helper.pxi", line 1492, in pandas._libs.hashtable.PyObjectHashTable.get_item
  File "pandas/_libs/hashtable_class_helper.pxi", line 1500, in pandas._libs.hashtable.PyObjectHashTable.get_item
KeyError: 'Adj Close'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/anupam/anaconda3/lib/python3.6/site-packages/stockstats.py", line 922, in __getitem__
    super(StockDataFrame, self).__getitem__(item))
  File "/home/anupam/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py", line 2685, in __getitem__
    return self._getitem_column(key)
  File "/home/anupam/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py", line 2692, in _getitem_column
    return self._get_item_cache(key)
  File "/home/anupam/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py", line 2486, in _get_item_cache
    values = self._data.get(item)
  File "/home/anupam/anaconda3/lib/python3.6/site-packages/pandas/core/internals.py", line 4115, in get
    loc = self.items.get_loc(item)
  File "/home/anupam/anaconda3/lib/python3.6/site-packages/pandas/core/indexes/base.py", line 3065, in get_loc
    return self._engine.get_loc(self._maybe_cast_indexer(key))
  File "pandas/_libs/index.pyx", line 140, in pandas._libs.index.IndexEngine.get_loc
  File "pandas/_libs/index.pyx", line 162, in pandas._libs.index.IndexEngine.get_loc
  File "pandas/_libs/hashtable_class_helper.pxi", line 1492, in pandas._libs.hashtable.PyObjectHashTable.get_item
  File "pandas/_libs/hashtable_class_helper.pxi", line 1500, in pandas._libs.hashtable.PyObjectHashTable.get_item
KeyError: 'Adj Close'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/anupam/anaconda3/lib/python3.6/site-packages/stockstats.py", line 925, in __getitem__
    self.init_columns(self, item)
  File "/home/anupam/anaconda3/lib/python3.6/site-packages/stockstats.py", line 858, in init_columns
    StockDataFrame.__init_column(obj, columns)
  File "/home/anupam/anaconda3/lib/python3.6/site-packages/stockstats.py", line 917, in __init_column
    StockDataFrame.__init_not_exist_column(df, key)
  File "/home/anupam/anaconda3/lib/python3.6/site-packages/stockstats.py", line 909, in __init_not_exist_column
    getattr(cls, func_name)(df, r)
AttributeError: type object 'StockDataFrame' has no attribute '_get_None'

KeyError: 'Adj Close'

In [ ]:
result['MACD'] = result['ESMA12'] - result['ESMA26']

In [ ]:
result.head(50)

In [ ]:
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')

In [ ]:
plt.figure(figsize=(20,10))
# plt.plot(result['SMA10'][-30:])
plt.plot(result['MACD'])
plt.legend(fontsize=20)
plt.xlabel("Date")
plt.ylabel("Values")
plt.xticks(rotation=90)
plt.show()

In [ ]:
result['Adj Close'][0:10].values.mean()

In [ ]:
def RSIN(data,n):