In [1]:
import pandas as pd
import numpy as np
import quandl

In [2]:
dfOriginal = pd.read_csv("/home/anupam/stockPrediction/data/^BSESN (2).csv")

In [3]:
dfOriginal.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2016-06-29,26627.150391,26776.169922,26606.310547,26740.390625,26740.390625,7700
1,2016-06-30,26926.169922,27069.230469,26872.589844,26999.720703,26999.720703,8600
2,2016-07-01,27064.330078,27243.359375,27061.400391,27144.910156,27144.910156,10000
3,2016-07-04,27314.439453,27385.660156,27251.060547,27278.759766,27278.759766,8300
4,2016-07-05,27340.720703,27348.660156,27127.300781,27166.869141,27166.869141,10400

In [4]:
df = dfOriginal.set_index("Date")

In [5]:
df = df.drop(['Close'],axis=1)

In [6]:
df.head()

                    Open          High           Low     Adj Close  Volume
Date
2016-06-29  26627.150391  26776.169922  26606.310547  26740.390625    7700
2016-06-30  26926.169922  27069.230469  26872.589844  26999.720703    8600
2016-07-01  27064.330078  27243.359375  27061.400391  27144.910156   10000
2016-07-04  27314.439453  27385.660156  27251.060547  27278.759766    8300
2016-07-05  27340.720703  27348.660156  27127.300781  27166.869141   10400

In [7]:
SMA5 = df['Adj Close'].rolling(window=5).mean()
SMA10 = df['Adj Close'].rolling(window=10).mean()
SMA20 = df['Adj Close'].rolling(window=20).mean()

In [8]:
SMA5

Date
2016-06-29             NaN
2016-06-30             NaN
2016-07-01             NaN
2016-07-04             NaN
2016-07-05    27066.130078
2016-07-07    27158.350000
2016-07-08    27183.785938
2016-07-11    27280.141797
2016-07-12    27386.017969
2016-07-13    27515.680078
2016-07-14    27663.803906
2016-07-15    27805.723828
2016-07-18    27829.717969
2016-07-19    27825.613672
2016-07-20    27845.755859
2016-07-21    27799.437891
2016-07-22    27792.785937
2016-07-25    27862.521875
2016-07-26    27900.301953
2016-07-27    27921.989844
2016-07-28    28021.609766
2016-07-29    28071.333594
2016-08-01    28052.889453
2016-08-02    28053.927735
2016-08-03    27988.563672
2016-08-04    27889.713672
2016-08-05    27895.011719
2016-08-08    27930.901953
2016-08-09    27951.591797
2016-08-10    27967.066016
                  ...
2018-05-18    35297.190625
2018-05-21    35109.074219
2018-05-22    34930.533594
2018-05-23    34721.939844
2018-05-24    34624.737500
2018-05-25    34640.051562
2018-05-28    34749.921875
2018-05-29    34809.521875
2018-05-30    34921.761719
2018-05-31    35053.615625
2018-06-01    35114.093750
2018-06-04    35083.375781
2018-06-05    35074.170313
2018-06-06    35128.724219
2018-06-07    35156.864063
2018-06-08    35200.146094
2018-06-11    35294.461719
2018-06-12    35452.323437
2018-06-13    35564.379687
2018-06-14    35591.728125
2018-06-15    35627.421875
2018-06-18    35640.380469
2018-06-19    35559.224219
2018-06-20    35520.857813
2018-06-21    35487.371875
2018-06-22    35500.864063
2018-06-25    35485.282031
2018-06-26    35525.942188
2018-06-27    35459.898438
2018-06-28    35380.948438
Name: Adj Close, Length: 496, dtype: float64

In [9]:
result = pd.concat([df,SMA5,SMA10,SMA20],axis=1,sort=False)

In [10]:
result.columns.values[5] = 'SMA5'
result.columns.values[6] = 'SMA10'
result.columns.values[7] = 'SMA20'

In [11]:
result.head(5)

,Open,High,Low,Adj Close,Volume,SMA5,SMA10,SMA20
Date,,,,,,,,
2016-06-29,26627.150391,26776.169922,26606.310547,26740.390625,7700,NaN,NaN,NaN
2016-06-30,26926.169922,27069.230469,26872.589844,26999.720703,8600,NaN,NaN,NaN
2016-07-01,27064.330078,27243.359375,27061.400391,27144.910156,10000,NaN,NaN,NaN
2016-07-04,27314.439453,27385.660156,27251.060547,27278.759766,8300,NaN,NaN,NaN
2016-07-05,27340.720703,27348.660156,27127.300781,27166.869141,10400,27066.130078,NaN,NaN

In [23]:
result.shape[0]

496

In [24]:
def EMAN(data,n):
    smaColumn = "SMA" + str(n)
    esmaColumn = "ESMA" + str(n)
    data[esmaColumn] = np.nan
    n=n-1
    data[esmaColumn][n] = data[smaColumn][n]
    multiplier = 2/(n + 1 + 1)
    n = n + 1
    while n<(data.shape[0]):
        data[esmaColumn][n] = ((data['Adj Close'][n] - data[esmaColumn][n-1]) * multiplier) + data[esmaColumn][n-1]
        n = n + 1
    return data

In [29]:
result = EMAN(result,10)
result = EMAN(result,20)

/home/anupam/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/anupam/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [30]:
result.head(20)

,Open,High,Low,Adj Close,Volume,SMA5,SMA10,SMA20,ESMA10,ESMA20
Date,,,,,,,,,,
2016-06-29,26627.150391,26776.169922,26606.310547,26740.390625,7700,NaN,NaN,NaN,NaN,NaN
2016-06-30,26926.169922,27069.230469,26872.589844,26999.720703,8600,NaN,NaN,NaN,NaN,NaN
2016-07-01,27064.330078,27243.359375,27061.400391,27144.910156,10000,NaN,NaN,NaN,NaN,NaN
2016-07-04,27314.439453,27385.660156,27251.060547,27278.759766,8300,NaN,NaN,NaN,NaN,NaN
2016-07-05,27340.720703,27348.660156,27127.300781,27166.869141,10400,27066.130078,NaN,NaN,NaN,NaN
2016-07-07,27209.970703,27288.220703,27146.949219,27201.490234,8800,27158.350000,NaN,NaN,NaN,NaN
2016-07-08,27292.199219,27294.820313,27034.140625,27126.900391,13900,27183.785938,NaN,NaN,NaN,NaN
2016-07-11,27358.230469,27647.480469,27358.230469,27626.689453,23900,27280.141797,NaN,NaN,NaN,NaN
2016-07-12,27667.810547,27828.740234,27667.810547,27808.140625,12200,27386.017969,NaN,NaN,NaN,NaN
2016-07-13,27912.140625,27928.759766,27752.140625,27815.179688,17600,27515.680078,27290.905078,NaN,27290.905078,NaN
2016-07-14,27857.800781,27967.769531,27763.150391,27942.109375,10500,27663.803906,27411.076953,NaN,27409.305859,NaN
2016-07-15,27966.140625,28048.699219,27735.869141,27836.500000,16300,27805.723828,27494.754883,NaN,27486.977521,NaN
2016-07-18,27920.660156,28013.500000,27697.689453,27746.660156,20500,27829.717969,27554.929883,NaN,27534.192546,NaN
2016-07-19,27790.050781,27826.689453,27637.980469,27787.619141,16800,27825.613672,27605.815820,NaN,27580.270109,NaN
2016-07-20,27775.699219,27935.179688,27759.710938,27915.890625,12500,27845.755859,27680.717969,NaN,27641.292021,NaN
2016-07-21,27980.070313,27988.759766,27687.539063,27710.519531,12200,27799.437891,27731.620899,NaN,27653.878841,NaN
2016-07-22,27721.720703,27832.449219,27646.210938,27803.240234,9500,27792.785937,27799.254883,NaN,27681.035458,NaN
2016-07-25,27753.960938,28110.369141,27736.509766,28095.339844,15300,27862.521875,27846.119922,NaN,27756.363528,NaN
2016-07-26,28121.369141,28149.529297,27927.130859,27976.519531,11100,27900.301953,27862.957813,NaN,27796.391892,NaN
2016-07-27,27976.140625,28210.880859,27899.929688,28024.330078,10400,27921.989844,27883.872852,27587.388965,27837.835199,27587.388965

In [33]:
result.dropna(inplace=True)

In [34]:
result.head()

,Open,High,Low,Adj Close,Volume,SMA5,SMA10,SMA20,ESMA10,ESMA20
Date,,,,,,,,,,
2016-07-27,27976.140625,28210.880859,27899.929688,28024.330078,10400,27921.989844,27883.872852,27587.388965,27837.835199,27587.388965
2016-07-28,28108.779297,28240.199219,28064.900391,28208.619141,14600,28021.609766,27910.523828,27660.800391,27905.250461,27646.553744
2016-07-29,28232.869141,28233.470703,28037.869141,28051.859375,11500,28071.333594,27932.059766,27713.407324,27931.906627,27685.154280
2016-08-01,28083.080078,28284.849609,27873.529297,28003.119141,13700,28052.889453,27957.705664,27756.317773,27944.854357,27715.436648
2016-08-02,28069.119141,28175.220703,27943.910156,27981.710938,10100,28053.927735,27977.114844,27791.465332,27951.555553,27740.796104