In [6]:
import pandas as pd
import numpy as np
import quandl

In [84]:
dfOriginal = pd.read_csv("/home/anupam/stockPrediction/data/^BSESN (2).csv")

In [86]:
dfOriginal.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2016-06-29,26627.150391,26776.169922,26606.310547,26740.390625,26740.390625,7700
1,2016-06-30,26926.169922,27069.230469,26872.589844,26999.720703,26999.720703,8600
2,2016-07-01,27064.330078,27243.359375,27061.400391,27144.910156,27144.910156,10000
3,2016-07-04,27314.439453,27385.660156,27251.060547,27278.759766,27278.759766,8300
4,2016-07-05,27340.720703,27348.660156,27127.300781,27166.869141,27166.869141,10400

In [87]:
df = dfOriginal.set_index("Date")

In [88]:
df = df.drop(['Close'],axis=1)

In [89]:
df.head()

                    Open          High           Low     Adj Close  Volume
Date
2016-06-29  26627.150391  26776.169922  26606.310547  26740.390625    7700
2016-06-30  26926.169922  27069.230469  26872.589844  26999.720703    8600
2016-07-01  27064.330078  27243.359375  27061.400391  27144.910156   10000
2016-07-04  27314.439453  27385.660156  27251.060547  27278.759766    8300
2016-07-05  27340.720703  27348.660156  27127.300781  27166.869141   10400

In [90]:
SMA5 = df['Adj Close'].rolling(window=5).mean()
SMA10 = df['Adj Close'].rolling(window=10).mean()
SMA20 = df['Adj Close'].rolling(window=20).mean()

In [91]:
SMA5

Date
2016-06-29             NaN
2016-06-30             NaN
2016-07-01             NaN
2016-07-04             NaN
2016-07-05    27066.130078
2016-07-07    27158.350000
2016-07-08    27183.785938
2016-07-11    27280.141797
2016-07-12    27386.017969
2016-07-13    27515.680078
2016-07-14    27663.803906
2016-07-15    27805.723828
2016-07-18    27829.717969
2016-07-19    27825.613672
2016-07-20    27845.755859
2016-07-21    27799.437891
2016-07-22    27792.785937
2016-07-25    27862.521875
2016-07-26    27900.301953
2016-07-27    27921.989844
2016-07-28    28021.609766
2016-07-29    28071.333594
2016-08-01    28052.889453
2016-08-02    28053.927735
2016-08-03    27988.563672
2016-08-04    27889.713672
2016-08-05    27895.011719
2016-08-08    27930.901953
2016-08-09    27951.591797
2016-08-10    27967.066016
                  ...
2018-05-18    35297.190625
2018-05-21    35109.074219
2018-05-22    34930.533594
2018-05-23    34721.939844
2018-05-24    34624.737500
2018-05-25    34640.051562
2018-05-28    34749.921875
2018-05-29    34809.521875
2018-05-30    34921.761719
2018-05-31    35053.615625
2018-06-01    35114.093750
2018-06-04    35083.375781
2018-06-05    35074.170313
2018-06-06    35128.724219
2018-06-07    35156.864063
2018-06-08    35200.146094
2018-06-11    35294.461719
2018-06-12    35452.323437
2018-06-13    35564.379687
2018-06-14    35591.728125
2018-06-15    35627.421875
2018-06-18    35640.380469
2018-06-19    35559.224219
2018-06-20    35520.857813
2018-06-21    35487.371875
2018-06-22    35500.864063
2018-06-25    35485.282031
2018-06-26    35525.942188
2018-06-27    35459.898438
2018-06-28    35380.948438
Name: Adj Close, Length: 496, dtype: float64

In [92]:
result = pd.concat([df,SMA5,SMA10,SMA20],axis=1,sort=False)

In [93]:
result.columns.values[5] = 'SMA5'
result.columns.values[6] = 'SMA10'
result.columns.values[7] = 'SMA20'

In [95]:
result.head(5)

,Open,High,Low,Adj Close,Volume,SMA5,SMA10,SMA20
Date,,,,,,,,
2016-06-29,26627.150391,26776.169922,26606.310547,26740.390625,7700,NaN,NaN,NaN
2016-06-30,26926.169922,27069.230469,26872.589844,26999.720703,8600,NaN,NaN,NaN
2016-07-01,27064.330078,27243.359375,27061.400391,27144.910156,10000,NaN,NaN,NaN
2016-07-04,27314.439453,27385.660156,27251.060547,27278.759766,8300,NaN,NaN,NaN
2016-07-05,27340.720703,27348.660156,27127.300781,27166.869141,10400,27066.130078,NaN,NaN

In [99]:
result['High'][2]

27243.359375

In [ ]:
def EMAN(data,n):
    n=n-1
    initialSMA =